@media (max-width: 1140px) {
    .logo {
        font-size: 16px;
        width: 120px;
    }

}

@media (max-width: 1024px) {
    .hiden {
        display: none;
    }

    .equipment-item {
        max-width: 220px;
    }

    .footer {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .title {
        padding-top: 50px;
        width: 420px;
        font-size: 40px;
    }

    .text {
        width: 420px;
    }

    .equipment-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .equipment-item {
        max-width: 300px;
        padding: 18px;
    }

    .footer {
        width: 450px;
    }

    .footer-about-text {
        font-size: 12px;
    }

    .about-text-item {
        display: block;
        text-align: center;
    }

    .footer-bottom {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .button {
        margin: 0 12px;
    }

    .connect-content {
        font-size: 12px;
        padding: 0;
    }

    .connect-item>i {
        display: none;
    }

    .title {
        padding-top: 30px;
        width: 300px;
        font-size: 30px;
    }

    .text {
        width: 300px;
    }

    .button-main {
        font-size: 20px;
    }

    .contact-me-title {
        font-size: 20px;
    }

    .advantages-wrapper {
        flex-direction: column;
    }

    .equipment-item {
        max-width: 250px;
        padding: 12px;
    }

    .footer {
        width: 320px;
        display: block;
    }

    .footer-about {
        width: 100%;
    }

    .about-text-item {
        display: flex;
        text-align: center;
    }
}

@media (max-width: 320px) {
    .logo {
        display: none;
    }

    .connect-content {
        font-size: 12px;
    }

    .footer {
        width: 300px;
    }
}